input {
    beats {
        port => 5044
    }
}
filter {
    if [type] == "kvPingStats" {
        json {
            source => "message"
            target => "parsed_json"
        }
        # Set metrics date field
        date {
            match => ["[parsed_json][returnValue][topology][time]", "UNIX_MS"]
        }
        # set store healthy value and status string according to exit_code
        if [parsed_json][returnValue][exitCode] == 0 {
            mutate {
                add_field => {
                    "exit_status" => "healthy"
                    "health_val" => 1.0
                }
            }
        } else if [parsed_json][returnValue][exitCode] == 1 {
            mutate {
                add_field => { "exit_status" => "degraged" "health_val" => 0.8 }
            }
        } else if [parsed_json][returnValue][exitCode] == 2 {
            mutate {
                add_field => { "exit_status" => "admin error" "health_val" => 0.1 }
            }
        } else if [parsed_json][returnValue][exitCode] == 3 {
            mutate {
                add_field => { "exit_status" => "shard error" "health_val" => 0.0 }
            }
        } else {
            mutate {
                add_field => { "exit_status" => "unkown error" "health_val" => 0.0 }
            }
        }
        mutate {
            convert => { "health_val" => "float" }
            remove_field => [ "parsed_json" ]
            rename => { "message" => "ping_message" }
        }
    } else if [type] == "kvLogs" {
        grok{
            match => { "message" => "(?m)%{TIMESTAMP_ISO8601:reportTime} UTC %{NOTSPACE:logType} %{NOTSPACE:componentId} %{GREEDYDATA:debugMessage}" }
        }
        if [logType] in ["SEVERE", "WARNING", "SEC_WARNING"] {
            date {
                match => ["reportTime", "yyyy-MM-dd HH:mm:ss.SSS"]
            }
            mutate {
                remove_field => [ "reportTime", "message" ]
            }
        } else {
            drop { }
        }
    } else {
        json {
            source => "message"
            remove_field => [ "message" ]
        }
        # Set metrics date field
        date {
            match => ["reportTime", "UNIX_MS"]
            remove_field => ["reportTime"]
        }
        # Split array fields for elasticsearch
        if [type] == "kvRNExceptionStats" {
            split {
                field => "Exceptions"
            }
        }
        if [type] == "kvRNTableStats" {
             if [Tables] {
                 split {
                     field => "Tables"
                 }
             }
        }
    }
}
output {
    if [type] == "kvPingStats" {
        elasticsearch {
            manage_template => true
            template => "kvpingstats.template"
            template_name => "kvpingstats"
            template_overwrite => true
            template_api => "legacy"
            index => "kvpingstats-%{+YYYY.MM.dd}"
            hosts => "localhost:9200"
        }
    } else if [type] == "kvRNOpStats" {
        elasticsearch {
            manage_template => true
            template => "kvrnopstats.template"
            template_name => "kvrnopstats"
            template_overwrite => true
            template_api => "legacy"
            index => "kvrnopstats-%{+YYYY.MM.dd}"
            hosts => "localhost:9200"
        }
    } else if [type] == "kvRNEnvStats" {
        elasticsearch {
            manage_template => true
            template => "kvrnenvstats.template"
            template_name => "kvrnenvstats"
            template_overwrite => true
            template_api => "legacy"
            index => "kvrnenvstats-%{+YYYY.MM.dd}"
            hosts => "localhost:9200"
        }
    } else if [type] in ["kvRNExceptionStats", "kvComponentStates", "kvPlanStats", "kvLogs"] {
        elasticsearch {
            manage_template => true
            template => "kvevents.template"
            template_name => "kvevents"
            template_overwrite => true
            template_api => "legacy"
            index => "kvevents-%{+YYYY.MM.dd}"
            hosts => "localhost:9200"
        }
    } else if [type] == "kvRNJVMStats" {
        elasticsearch {
            manage_template => true
            template => "kvrnjvmstats.template"
            template_name => "kvrnjvmstats"
            template_overwrite => true
            template_api => "legacy"
            index => "kvrnjvmstats-%{+YYYY.MM.dd}"
            hosts => "localhost:9200"
        }
    }
}

